.nav{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.nav a {
  margin-right: 20px;
}

.middle {
  width: 50%;
  margin-top: 15%;
  margin-left: 28%;
}

.img {
  margin-left: 30%;
}

.searchbar {
  margin-top: 20px;
  margin-left: 15%;
  border-radius: 50px;
  width: 600px;
  height: 35px;
}








